<StoreHeader></StoreHeader>
<div class="page_main">
    <div class="text_main clear">
        <div class="text_left">
            <span>De succès!</span>
            <p class="small">Allez acheter</p>
            <p>ton gâteau </p>
            <span>préféré.</span>
        </div>
        <div class="succ_right">
            <span>登录成功!  </span>
            <p>
                <samp>{{num}}</samp>秒后自动跳转...
            </p>
            <a routerLink="/index" class="go">
                马上选蛋糕
                <small>>></small>
            </a>
            <div class="well_box clear">
                <ul class="clear">
                    <li>
                        <a href="#">
                            <img src="images/succ_login_1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/succ_login_2.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<StoreFooter></StoreFooter>