<div id="container_box"></div>
<div id="maximPanel" class="tc-con">
    <a href="javascript:;"></a>
    <div class="tc-con-1">
        <p>
            <span>Sélectionnez la commande le nombre de livres：</span>
            <br>
            选择您要订购的磅数：
        </p>
        <ul class="weight_msg clear">
            <li>
                <span>1.5磅</span>
            </li>
        </ul>
        <ul class="explain_msg">
            <li>需提前5小时预定</li>
            <li>适合2-3人食用</li>
            <li>SIZE:14.8cm*5.5cm</li>
        </ul>
        <div class="cake_num clear">
            <span>数量</span>
            <dl>
                <dd></dd>
                <dt><input type="text" value="1"></dt>
                <dd></dd>
            </dl>
        </div>
        <ul class="buy_btn">
            <li>
                <!--<button>加入购物车</button>-->
                <input type="button" value="加入购物车">
            </li>
            <li>
                <!--<button>立即购买</button>-->
                <input type="button" value="立即购买">
            </li>
        </ul>
    </div>
</div>