<StoreHeader></StoreHeader>
<div id="login-box">
    <div class="login-left">
        <span>Veuillez signer</span>
        <span>Inviter des amis</span>
        <span>peut être mystérieux.</span>
        <span>Vous avez besoin de remplir le numéro de téléphone de votre login</span>
    </div>
    <div class="login-right">
        <ul>
            <li>
                <span>
                    用户登录
                </span>
            </li>
            <li>
                <input id="user_name" type="text" name="user_name" placeholder="请输入用户名"
                [(ngModel)]="inputName" (blur)="valiUname()" (focus)="valiUnames()">
                <span class="vali_phone_error">{{valiUnameMsg}}</span>
            </li>
            <li>
                <input type="password" name="pwd" id="user_pwd" placeholder="请输入用户密码"
                [(ngModel)]="inputUpwd" (blur)="valiUpwd()" (focus)="valiUpwds()">
                <span class="vali_pwd_error">{{valiUpwdMsg}}</span>
            </li>
            <li>
                <input type="submit" value="登录" class="login_btn" (click)="jumpLoginSucc()">
                <a href="javascript:;">忘记密码 ?</a>
            </li>
            <li>
                <span>提示:还不是会员?</span>
                <a href="javascript:;" routerLink="/register">立即注册</a>
            </li>
            <li>
                <p>使用合作网站账号登录</p>
                <a href="javascript:;" class="weibo"></a>
                <a href="javascript:;" class="zhifubao"></a>
            </li>
        </ul>
    </div>
</div>
<StoreFooter></StoreFooter>
