.header{
	width:100%;
	height:100px;
	/*margin:0px auto;*/
	/*position:relative;*/
}
.header .header-box{
	width:1200px;
	height:100px;
	margin:0px auto;
	position:relative;
}
/*logo*/
#logo img{
	position:absolute;
	top:0px;
	left:0px;
}
/*页面头部注册栏*/
#register-box{
	height:29px;
	border-bottom:1px solid #EDEDED;
}
#register-box ul{
	float:right;
}
#register-box li{
	float:left;
	margin-right:10px;
}
#register-box i{
	float:left;
	display:block;
	width:24px;
	height:30px;
	background:url(../../images/icon1.png);
	background-position:-45.7px -9px;
}
#register-box a{
	color:#ab977e;
	line-height:30px;
}
#register-box a:hover{
	text-decoration:underline;
}
/*页面头部功能按钮栏*/
#header-bottom{
	width:1200px;
	height:70px;
}
/*右侧部分*/
#header-right{
	float:right;
	width:260px;
	height:70px;
}
#header-right ul.phone-delivery{
	float:left;
	padding-top:17px;
	width:195px;
}
#header-right #sec-city{
	float:left;
}
#header-right li{
	width:195px;
	height:20px;
}
#header-right  li.phone i{
	display:block;
	float:right;
	width:24px;
	height:20px;
	background:url(../../images/icon1.png) -112px -15px;
}
#header-right  li.delivery i{
	display:block;
	float:right;
	width:24px;
	height:20px;
	background:url(../../images/icon1.png) -146px -15px;
}
#header-right  ul.phone-delivery span{
	float:right;
	padding-right:5px;
}
#header-right li.phone{
	font-size:16px;
}
#header-right li.delivery a{
	color:#ab977e;
}
#sec-city{
	width:65px;
	padding-top:28px;
}
#sec-city i{
	display:block;
	width:18px;
	height:18px;
	float:right;
	cursor:pointer;
	background:url(../../images/icon1.png) -83px -15px;
}
#sec-city ul li{
	display:none;
}
#sec-city ul .show{
	display:block;
}
/*功能按钮部分*/
#wall-box{
	float:right;
	width:720px;
	height:70px;
}
#wall-box ul.menu{
	width:720px;
/*	float:right;*/
}
#wall-box li.menu-btn{
	width:180px;
	height:52px;/*居中不应该是这样，有待商榷*/
	padding-top:15px;/*居中不应该是这样，有待商榷*/
	text-align:center;/*不应该是这样，有待商榷*/
	float:left;
	border-bottom:3px solid transparent;
}
#wall-box li.menu-show{
	border-bottom:3px solid #7B9196;
}
#wall-box li.menu-btn span{
	display:block;
	width:179px;
	border-left:1px solid #EAEAEA;
}
#wall-box li.menu-btn span.fench{
	font-size:16px;
}
