<StoreHeader class="ref"></StoreHeader>
<!-- 1.轮播 -->
<div id="slider">
    <div class="slider-box">
        <!--[ngStyle]="{left: myLeft,transition:myTransition}" 轮播-->
        <div id="container"  [ngStyle]="{left: myLeft,transition:myTransition}" (mouseenter)="enterPause()" (mouseleave)="outGoOn()">
            <!--情人节-->
            <div class="slider">
                <!-- 轮播左侧背景色 -->
                <div class="slider-left"></div>
                <!-- 轮播右侧背景色 -->
                <div class="slider-right"></div>
                <div class="mid-flower"></div>
                <!-- 轮播左侧动画效果 -->
                <div id="left">
                    <div class="left-wave">
                        <a href="#">
                            <img src="images/wave-1.png" alt="">
                        </a>
                    </div>
                    <div class="left-top">
                        <a href="#">Magpie Festival</a>
                    </div>
                    <div class="left-mid">
                        <a href="#">SEUL L'AMOUR</a>
                    </div>
                    <div class="left-bottom">
                        <a href="#">Sachez que vous aimez</a>
                    </div>
                </div>
                <!-- 轮播中间线动画效果 -->
                <div id="mid-line">
                    <img src="images/line.png" alt="">
                </div>
                <!-- 轮播右侧动画效果 -->
                <div id="right">
                    <div class="right-wave">
                        <a href="#">
                            <img src="images/wave-2.png" alt="">
                        </a>
                    </div>
                    <div class="right-mid">
                        <a href="#">
                            <img src="images/word-r-1.png" alt="">
                        </a>
                    </div>
                    <div class="right-bottom">
                        <a href="#">
                            <img src="images/logo1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!--小熊-->
            <div class="slider">
                <i>
                    <div class="bear"><img src="images/banner-xiong.png" alt=""></div>
                    <div class="banner_title"><img src="images/banner-title.png" alt=""></div>
                    <div class="banner_tree"><img src="images/banner-shu.png" alt=""></div>
                    <div class="banner_cake"><img src="images/banner-cake.png" alt=""></div>
                </i>
            </div>
            <!--中秋节-->
            <div class="slider">
                <i>
                    <div class="banner_815">
                        <img src="images/banner-815.png" alt="">
                    </div>
                    <div class="banner_box">
                        <img src="images/banner-box.png" alt="">
                    </div>
                    <div class="banner_moon">
                        <img src="images/banner_moon.png" alt="">
                    </div>
                    <div class="banner_c_1">
                        <img src="images/banner-c-1.png" alt="">
                    </div>
                    <div class="banner_c_2">
                        <img src="images/banner-c-2.png" alt="">
                    </div>
                    <div  class="banner_title_1">
                        <img src="images/banner-title-1.png" alt="">
                    </div>
                    <div class="banner_c_3">
                        <img src="images/banner-c-3.png" alt="">
                    </div>
                    <div class="banner_c_4">
                        <img src="images/banner-c-4.png" alt="">
                    </div>
                    <div class="banner_w_1">
                        <img src="images/banner-w-1.png" alt="">
                    </div>
                    <div class="banner_c_5">
                        <img src="images/banner-c-5.png" alt="">
                    </div>
                    <div class="banner_c_6">
                        <img src="images/banner-c-6.png" alt="">
                    </div>
                </i>
            </div>
            <!--中秋节之备用-->
            <div class="slider">
                <div class="slider-bg"></div>
                <i>
                    <div class="mon">
                        <img src="images/mon.png" alt="">
                    </div>
                    <div class="sicon">
                        <img src="images/sicon.png" alt="">
                    </div>
                    <div class="light_r">
                        <img src="images/light-r.png" alt="">
                    </div>
                    <div class="title">
                        <img src="images/title.png" alt="">
                    </div>
                    <div class="b_w">
                        <img src="images/b-w.png" alt="">
                    </div>
                </i>
            </div>
            <!--情人节-->
            <div class="slider">
                <!-- 轮播左侧背景色 -->
                <div class="slider-left"></div>
                <!-- 轮播右侧背景色 -->
                <div class="slider-right"></div>
                <div class="mid-flower"></div>
                <!-- 轮播左侧动画效果 -->
                <div id="left">
                    <div class="left-wave">
                        <a href="#">
                            <img src="images/wave-1.png" alt="">
                        </a>
                    </div>
                    <div class="left-top">
                        <a href="#">Magpie Festival</a>
                    </div>
                    <div class="left-mid">
                        <a href="#">SEUL L'AMOUR</a>
                    </div>
                    <div class="left-bottom">
                        <a href="#">Sachez que vous aimez</a>
                    </div>
                </div>
                <!-- 轮播中间线动画效果 -->
                <div id="mid-line">
                    <img src="images/line.png" alt="">
                </div>
                <!-- 轮播右侧动画效果 -->
                <div id="right">
                    <div class="right-wave">
                        <a href="#">
                            <img src="images/wave-2.png" alt="">
                        </a>
                    </div>
                    <div class="right-mid">
                        <a href="#">
                            <img src="images/word-r-1.png" alt="">
                        </a>
                    </div>
                    <div class="right-bottom">
                        <a href="#">
                            <img src="images/logo1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 轮播箭头 -->
        <a class="left-arrow" href="javascript:;" (click)="runRight()">
            <img src="images/arrows-left.png" alt="">
        </a>
        <a class="right-arrow" href="javascript:;" (click)="runLeft()">
            <img src="images/arrows-right.png" alt="">
        </a>
        <!-- 轮播圆点 -->
        <ul id="navCir">
            <ng-container *ngFor="let tmp of navCirList;let cirIndex=index">
                <li [ngClass]="{hover:cirIsShow[cirIndex]}" (click)="handleClickShow(cirIndex)"></li>
            </ng-container>
            <!--<li></li>
            <li></li>
            <li></li>-->
        </ul>
    </div>
</div>
<!-- 2.段落标题 -->
<div class="title-box">
    <div class="all-pro">
        <span class="title-pic">
            <img src="images/tc_title.png" alt="">
        </span>
        <span class="title-word">蛋糕</span>
    </div>
</div>
<div class="product-box-parent">
    <!--后加 页面右侧选择-->
    <div class="right-part">
        <ul class="top-ul">
            <li>
                <b>#口味筛选</b>
                <span></span>
            </li>
            <ng-container *ngFor="let tmp of rightPartList;let cakeIndex = index">
            <li (mouseenter)="handleEnter(cakeIndex)" (mouseout)="handleOut(cakeIndex)">
                <a href="javscript:;"  (mouseenter)="handleEnter(cakeIndex)" (mouseout)="handleOut(cakeIndex)">{{tmp.name}}</a>
                <i *ngIf="tmp.isShowBg"></i>
            </li>
            </ng-container>
            <!-- <li>
                <a href="#">拿破仑</a>
                <i></i>
            </li>
            <li>
                <a href="#">鲜奶</a>
                <i></i>
            </li>
            <li>
                <a href="#">慕斯</a>
                <i></i>
            </li>
            <li>
                <a href="#">芝士</a>
                <i></i>
            </li>
            <li>
                <a href="#">巧克力</a>
                <i></i>
            </li>
            <li>
                <a href="#">咖啡</a>
                <i></i>
            </li>
            <li>
                <a href="#">坚果</a>
                <i></i>
            </li>
            <li>
                <a href="#">水果</a>
                <i></i>
            </li>
            <li>
                <a href="#">冰激凌</a>
                <i></i>
            </li> -->
        </ul>
        <ul class="bottom-ul">
            <li>
                <a>#小食</a>
                <i></i>
            </li>
        </ul>
    </div>
    <!-- 3.产品照片列表 -->
    <div>
        <div class="cake-box" id="cake-box">
            <!--3.1产品列表第1行-->
            <div class="cake-list-box" *ngFor="let tmp of ListCake;let myIndex=index" (click)="jumpToDetail(myIndex)">
                <div class="cake-list">
                    <a href="javascript:;">
                        <img [src]="tmp.pic" alt="">
                    </a>
                    <div class="show-font">
                        <a href="javascript:;">
                            <span class="font-french">{{tmp.fre_title}}</span>
                            <span class="font-chs">{{tmp.che_title}}</span>
                            <img [src]="tmp.nature_img" class="xinpin">
                        </a>
                    </div>
                    <div class="hidden-font">
                        <span class="cake-weight">{{tmp.weight}}磅/{{tmp.price}}RMB</span>
                        <span class="cake-sweet">甜度指数:</span>
                        <!--根据商品ID记录对应位置-->
                        <i *ngFor=" let tmp of sweetLength[myIndex]"></i>
                        <a href="javascript:;" (click)="addCartModelBox(myIndex);$event.stopPropagation()"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 4.段落标题 -->
<div class="title-box" id="little-food">
    <div class="all-pro">
        <span class="title-pic">
            <img src="images/tp_title.png" alt="">
        </span>
        <span class="title-word">小食</span>
    </div>
</div>
<!-- 5.产品照片列表 -->
<div class="cake-box" id="refreshments-box">
	<!--4.1小食列表第1行-->
    <div class="cake-list-box" *ngFor="let tmp of ListRefreshments;let myIndexBot=index" (click)="jumpToDetailBot(myIndexBot)">
        <div class="cake-list">
            <a href="javascript:;">
                <img [src]="tmp.pic" alt="">
            </a>
            <div class="show-font">
                <a href="javascript:;">
                    <span class="font-french">{{tmp.fre_title}}</span>
                    <span class="font-chs">{{tmp.che_title}}</span>
                    <img [src]="tmp.nature_img" class="xinpin">
                </a>
            </div>
            <div class="hidden-font">
                <span class="cake-weight">{{tmp.weight}}磅/{{tmp.price}}RMB</span>
                <span class="cake-sweet">甜度指数:</span>
                    <i *ngFor="let tmp of sweetLengthBot[myIndexBot]"></i>
                    <a href="javascript:;" ></a>
            </div>
        </div>
	</div>
</div>

<StoreFooter></StoreFooter>
<ng-container *ngIf="isShowModel">
    <div id="container_box"></div>
    <div id="maximPanel" class="tc-con">
        <a href="javascript:;" (click)="closeClick()"></a>
        <div class="tc-con-1">
            <p>
                <span>Sélectionnez la commande le nombre de livres：</span>
                <br>
                选择您要订购的磅数：
            </p>
            <ul class="weight_msg clear">
                <li>
                    <span>1.5磅</span>
                </li>
            </ul>
            <ul class="explain_msg">
                <li>需提前5小时预定</li>
                <li>适合2-3人食用</li>
                <li>SIZE:14.8cm*5.5cm</li>
            </ul>
            <div class="cake_num clear">
                <span>数量</span>
                <dl>
                    <dd (click)="subLeft()"></dd>
                    <dt><input type="text" [(ngModel)]="numCount" (blur)="confirmNum()" value="{{numCount}}"></dt>
                    <dd (click)="addRight()"></dd>
                </dl>
            </div>
            <!--<StoreIncrement></StoreIncrement>-->
            <ul class="buy_btn">
                <li>
                    <input type="button" [(ngModel)]="addCartName" 
                     (mouseenter)="addCartEnter()" (mouseleave)="addCartLeave()"
                     value="{{addCartName}}" (click)="addCart()">
                </li>
                <li>
                    <input type="button" [(ngModel)]="rightNowName"
                     (mouseenter)="rightNowEnter()" (mouseleave)="rightNowLeave()"
                     value="{{rightNowName}}" (click)="rightNowBuy()">
                </li>
            </ul>
            <!--<StoreBuyBtn></StoreBuyBtn>-->
        </div>
    </div>
</ng-container>
<ng-container *ngIf="isShowSuccModel">
    <div id="prop_container_box"></div>
    <div id="prop_box">
            <div class="prop_content">
                <div class="prop_title">
                    提示信息
                </div>
                <div class="prop_message">
                    <ul class="clear">
                        <li></li>
                        <li>
                            <span>商品加入购物车成功</span>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</ng-container>
